body {
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: top;
	color: rgb(58, 58, 58);
	
}

.sign-up-header {
	text-align: center;
	margin: 0 0 1em;
	padding: 1em;
	background-color:#f9f5f5;
	-webkit-text-fill-color: #f9f5f5;
	-webkit-text-stroke: 1px var(--logo-color);
}

form {
	margin-bottom: 1em;
	padding: 0 1em;
	max-width: 30em;
}

.form-section  {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

.all-content-container {
	display: flex;
	justify-content: space-around;
}



.name-etc {
	margin: 1em 0 2em;
	border-bottom: 2px solid black;
	font-size: 18px;
	font-weight: lighter;
}

.ticket-checklist {
	background-color:#f9f5f5;
	border-radius: 5px;
	margin-bottom: 2px;
}

.veg {
	color:rgb(48, 185, 48);
}
.meat{
	color: var(--logo-color);
}
.fish {
	color: rgb(56, 56, 205);
}

.food-logga {
	width: 300px;
	grid-column: 2 / 2;
	grid-row: auto;
}

.grid-item1 {
	grid-row: 1 / 1;
}
.grid-item2 {
	grid-row: 2 / 2;
}
.grid-item3 {
	grid-row: 3 / 3;
}

.grid-section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 8em 8em 8em;
}

.allergiuppmaning {
	font-size: small;
	border-top: 2px solid black;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-top: 1em;
	font-size: medium;
}

.finalize-button {
	margin-top: 1em;
	border-radius: 10px;
	background-color:var(--logo-color) ;
	color:#f9f5f5;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: 0.3s;
}

.finalize-button:hover {
	opacity: 0.8;
	background-color: #f9f5f5;
	color: var(--logo-color);
	box-shadow: 10px 6px 30px 2px grey;
}
/* ------------------------------------------------------- */

input:valid {
	border: 3px solid rgb(55, 254, 68);
	
}
input:invalid {
	border: 3px solid var(--logo-color);
}

.gluten-mm:valid {
	border-color: black;
}

.error-message {
	visibility: hidden;
	margin: 0;
	color: var(--logo-color);
}
input:invalid + .error-message {
	visibility: visible;
}

input {
	max-width: 25em;
}

/* ------------------------------------------------------------------- */

.price-container {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	justify-content: start;
}

.mer-info {
	margin-top: 1em;
}

.flannel-dude {
	height: 130px;
	width: 130px;
	align-self: end ;
}

.price-info {
	font-size: 50px;
	margin-bottom: 2rem;
	color: var(--logo-color);
	font-weight: lighter;
}

.price-menu-ul {
	margin-top: 0.5em;
	list-style-type: none;
}

.food-menu-ul ~ p {
	margin: 0.3em 0 0.3em;
}

.price-menu-ul {
	line-height: 2em;
}


.menu-info {
	font-size: 50px;
	margin: 2rem 0 2rem;
	color: var(--logo-color) ;
	line-height: 1.5;
	font-weight: lighter;
}

/* ----------------------------------------------------------------------- */

@media (max-width: 900px) {
	.all-content-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.price-container{
		justify-content: space-between;
	}

	.mer-info {
		margin-bottom: 5em;
	}

	.food-logga {
		width: 250px;
	}
	
}

@media (max-width: 489px) {
	.price-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.mer-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.flannel-dude {
		margin-bottom: 2em;
		align-self: center;
	}

	.food-logga {
		width: 150px;
		grid-row: 2 / 2;
		justify-self: center;
	}
}