main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: top;

}

form {
	border-radius: 10px;
	margin: 0.5em 0;
	padding: 0 1em;
	font-style: italic;
	max-width: 30em;
}

.form-section {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

.all-content-container {
	display: flex;
	justify-content: space-around;
}

.sign-up-header {
	text-align: center;
	margin: 1em 0 1em;
	padding: 1em;
	background-color: rgb(252, 166, 166);
	-webkit-text-fill-color: #f9f5f5;
  	-webkit-text-stroke: 1px #d52e2e;
}


.name-etc {
	margin: 1em 0 2em;
	border-bottom: 2px solid black;
}
/* ------------------------------------------------------- */

.buy-tickets {
	border-bottom: 2px solid black;
	margin: 2em 0 2em;
	padding-top: 1em;
}

.ticket-checklist {
	background-color: rgb(215, 215, 215);
	border-radius: 5px;
	margin-bottom: 2px;
}
/* ----------------------------------------------------- */

.kostval {
	border-bottom: 2px solid black;
	margin: 1em 0 2em;
}

.veg {
	color:rgb(48, 185, 48);
}
.meat{
	color: #d52e2e;
}
.fish {
	color: rgb(56, 56, 205);
}

.allergiuppmaning {
	font-size: small;
	border-top: 2px solid black;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-top: 1em;
	font-size: medium;
	font-style: italic;
}

.finalize {
	margin-top: 1em;
	background-color:#d52e2e ;
	color:#f9f5f5;
	padding: 0.5em 1em;
	cursor: pointer;
}
/* ------------------------------------------------------- */

input:valid {
	border: 2px solid rgb(59, 207, 115);
	
}
input:invalid {
	border: 2px solid #d52e2e;
}

.gluten-mm:valid {
	border-color: black;
}

.error-message {
	visibility: hidden;
	margin: 0;
	color: #d52e2e;
}
input:invalid + .error-message {
	visibility: visible;
}

input {
	max-width: 25em;
}

/* ------------------------------------------------------------------- */

.mer-info {
	margin-top: 1em;
}

.price-info {
	font-size: 3em;
	margin-bottom: 2rem;
	color: #d52e2e;
}


.menu-info {
	font-size: 3em;
	margin: 2rem 0 2rem;
	color: #d52e2e;
}

.menu-list > p {
	font-style: italic;
	font-size: small;
}
.menu-list :nth-child(1) {
	color: rgb(59, 207, 115);
}
.menu-list :nth-child(4) {
	color: #d52e2e;
	margin-top: 1em;
}
.menu-list :nth-child(7) {
	color: rgb(56, 56, 205);
	margin-top: 1em;
}

/* ----------------------------------------------------------------------- */

@media (max-width: 800px) {
	.all-content-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.mer-info {
		border-bottom: 2px solid black;
	}
	
}