main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: top;
	align-items: center;
	background-color: #f9f5f5;
	color: #d52e2e;

}

h1 {
	margin: 1em 0 3em;
}