 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Baskerville&family=Playfair+Display&display=swap');


.top-nav {
	background-color: #5fc7cd;
}

footer {
	background-color: rgb(56, 56, 56);
	color: #f9f5f5;
}

main {
	background-color: #7dced2;
}