
@keyframes slideinleft {
	from {
		transform: translateX(-1200px);
	}
}

@keyframes changecolor {
	0%, 50% {
		color: rgb(22, 22, 22); 
	  }
	  51%, 100% {
		color: rgb(225, 225, 0); 
	  }

	  0%, 50% {
		background-color: rgb(225, 225, 0); 
	  }
	  51%, 100% {
		background-color: rgb(22, 22, 22); 
	  }
}



main {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	min-height: 100vh;
	overflow: hidden;
}

.under-uppbyggnad {
	background-color: yellow;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;

}

.hacker-div {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	animation-name: slideinleft;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.hacker {
	max-height: 20em;
	margin-bottom: 0.5em;
}

.hacker-text{
	color: black;
	background-color:rgb(225, 225, 0);
	padding: 0.5em 1em;
	border-radius: 0.15rem;
	animation: changecolor 1s linear infinite; 
	
}
/* @media (max-width: 600px) {
	.hacker {
		height: 15em;
	}
}

@media (max-width: 450px) {
	.hacker {
		height: 11em;
	}
} */