/* Utility classes */
.animate {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animate--slow {
	animation-delay: 1s;
	animation-fill-mode: both;
}

.animate--slower {
	animation-delay: 2s;
	animation-fill-mode: both;
}

/* Animations */
@keyframes slideinleft {
	from {
		transform: translateX(-1200px);
	}
}

.slideinleft {
	animation-name: slideinleft;
	animation-timing-function: ease-in;
}

main {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	min-height: 100vh;
}

.under-uppbyggnad {
	background-color: yellow;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;

}

.hacker {
	height: 20em;
}