main {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	min-height: 100vh;
}

@keyframes slideInLeft {
	from {
		transform: translateX(-650px);
	}

	to {
		transform: translateX(0);
	}
}

.slideInLeft {
	animation: slideInLeft 1s ease-in;
}