main  {
	min-height: 100vh;
	display: flex;
	flex-grow: 1;
	align-items: top;
	justify-content: center;
	
}

.welcome-bunt {
	text-align: center;
	margin-top: 3em;
	background-color: black;
	height: 7.5em;
	flex-grow: 1;
}

.welcome-b {
	margin-top: 1em;
	background-color:#d52e2e ;
	color:#f9f5f5;
	padding: 0.5em 1em;
	cursor: pointer;
}
.welcome-p  {
	text-align: center;
	margin-top: 0.5em;
	color: #d52e2e;
}

.welcome-h {
	color: #d52e2e;
}