:root {
	--logo-color: #d52e2e;
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Baskerville&family=Playfair+Display&display=swap');

main  {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
}


.welcome-bunt {
	text-align: center;
	padding: 1em;
	background-color: #f9f5f5;
}


.welcome-b {
	margin-top: 1em;
	background-color:var(--logo-color) ;
	color:#f9f5f5;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
	top:0;
}


.welcome-b:hover {
	opacity: 0.8;
	background-color: #f9f5f5;
	color: var(--logo-color);
	border-color: #f9f5f5;
	box-shadow: 10px 6px 30px 2px grey;
	top: -0.3em;
}

.welcome-p  {
	margin-top: 0.5em;
	color: var(--logo-color);
}

.welcome-h {
	color: var(--logo-color);
}

.history-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em 15em 2em 15em;
	background-color: #f9f5f5;
	
}

.history-text > p {
	font-family: playfair display;
	font-style: italic;
	font-size: 1.1em;
	padding: 0.3em;
	margin: 0.2em;
	text-align: center;
}

.barbro-larsson {
	text-align: end;
	margin-bottom: 2em;
	padding-right: 4em;
	background-color: #f9f5f5;
}


@media (max-width: 1200px) {
	.history-text {
		padding-left: 5em;
		padding-right: 5em;
	}
}

@media (max-width: 500px) {
	.history-text {
		padding-left: 1em;
		padding-right: 1em;
	}
}