body {
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: top;
}

.huvudrubrik {
	text-align: center;
	margin: 0 0 1em;
	padding: 1em;
	background-color:#f9f5f5;
	-webkit-text-fill-color: #f9f5f5;
  	-webkit-text-stroke: 1px #d52e2e;
}

.open-time {
	text-align: center;
	font-size:x-large;
	background-color:#f9f5f5;
	-webkit-text-fill-color: #f9f5f5;
  	-webkit-text-stroke: 1px #d52e2e;
	padding: 1em;

}

.html-logga {
	width: 300px;
	position: sticky;
	top: 20px;
}

.css-logga {
	height: 310px;
	width: 300px;
	position: sticky;
	top: 20px;
}

.sem-date {
	border-bottom: 2px solid black;
	font-size: xx-large;
	margin-bottom: 1em;
}

.sem-lista {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-evenly;
	margin: 2em 0 2em 0;
	color: black;
	flex-wrap: wrap;
}

.topic {
	margin: 0.2em 0 1em 0;
	color: rgb(90, 88, 88);
	list-style: none;
}

.sem-name {
	list-style: none;
}

.sem-time {
	color: #d52e2e;
	font-weight: lighter;
	font-style: italic;
	margin-bottom: 0.3em;
}


@media (max-width: 1300px) {
	.sem-lista {
		flex-direction: column;
		align-items: center;
	}

	.css-logga {
		margin-top: 2em;
		position: static;
	}

	.html-logga {
		margin-bottom: 2em;
		position: static;
	}
}