@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@400;700&display=swap');


* {
	font-family: "audiowide";
	box-sizing: border-box;
	margin: 0;
	padding: 0;

  }
  
  body {
	display: flex;
	flex-direction: column;
  }

  .logga {
	display: flex;
  }

  .top-nav {
	display: flex;
	justify-content: space-between;
	align-items: end;
	color: #f9f5f5;
	background-color: #d52e2e;
	/* background: linear-gradient(to right, #d52e2e, #ff8585); */
	padding-right: 1em;
  }

.menu {
	display:flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu > li {
	margin: 1rem;
	/* overflow: hidden; */
}

.button {
	text-decoration: none;
	color: #fff;
	padding: 10px 0 10px 0;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #f9f5f5;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  position: absolute;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	transform: rotate(405deg);
	margin-top: 0px;
}
#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
  }

#menu-toggle:checked + .menu-button-container .menu-button::after {
	transform: rotate(315deg);
	margin-top: 0px;
	
}



.menu-button-container{
	display: none;
	cursor: pointer;
	margin-bottom: 1.5em;
	margin-right: 2em;
	
}


@media (max-width: 800px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 200px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}


	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		overflow: hidden;
	}

	#menu-toggle:checked ~ .menu li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}


	.menu > li {
		display:flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		background-color: #222;
	}

	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

